*{
    box-sizing: border-box;
   
  }
body{
    background-image: url("../images/background.png");
  }
  .article{
    padding: 40px 15px 40px 15px;
     background: #ffffff;
     border-top: 2px solid #dddddd;
     margin-top: 40px;
     margin-bottom: 40px;
     width: 100%;
 }
 h2{
  padding-bottom: 30px;
  border-bottom: 5px solid #dddddd;
  font-size: 24px;
  font-weight: bold;
  color: #4aaaa5;
}
P{
  line-height: 30px;
 font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.myform{
  padding-top: 20px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 20px;
  color: #666666;
}
footer{
  background: #666666;
     border-top: 8px solid #4aaaa5;
     color: #ffffff;
     text-align: center;
     padding-top: 40px;
     font-size: 16px;
}

.button{
    font-weight: bold;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}
h4{
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;

}